fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
onnxruntime
asyncpg
redis
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
websockets
aioredis
requests
Pillow
numpy
scikit-learn
scipy
numba
zeep
# Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
